header {
    height: 70px;
    width:100%;
    border-bottom: 1px solid #CCCCCC;
    background-image:url("../images/logo.png");
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: 5px;
}
